body {
  margin: 0;
  padding: 0;
  border: 0;
}

.logo-lobo {
  max-width: 100%;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: right;
  justify-content: space-between 1rem;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 4rem;
  color: black;
}
